In [1]:
import pandas as pd
import geopandas as gpd

# Cargar archivo GeoJSON
gdf = gpd.read_file("C:/Users/34666/Documents/MASTER EN IA/THE BRIDGE/REPO_CLASE/REPO_PRACTICE/EDA/RESTAURANTS/data/export.geojson")

# Ver las primeras filas
print(gdf.head())

# Puedes convertirlo a DataFrame plano si no necesitas la geometría
df = pd.DataFrame(gdf.drop(columns='geometry'))
df

                  id                @id access addr:city addr:country  \
0  relation/12308736  relation/12308736   None    Madrid         None
1  relation/15931821  relation/15931821   None      None         None
2      node/26065697      node/26065697   None    Madrid         None
3      node/26065699      node/26065699   None    Madrid         None
4      node/26808568      node/26808568   None    Madrid         None

  addr:district addr:housename addr:housenumber addr:place addr:postcode  ...  \
0          None           None               57       None          None  ...
1          None           None             None       None          None  ...
2          None           None                7       None         28004  ...
3          None           None               95       None         28004  ...
4          None           None                2       None         28015  ...

                           website website:menu wheelchair  \
0                             None         None       None
1                             None         None       None
2  http://cafecomercialmadrid.com/         None       None
3        https://honestgreens.com/         None         no
4                             None         None    limited

                       wheelchair:description wheelchair:description:es  wifi  \
0                                        None                      None  None
1                                        None                      None  None
2                                        None                      None  None
3  Escalón alto, puerta que abre hacia fuera.                      None  None
4                                        None                      None  None

   wikidata          wikipedia @geometry                   geometry
0      None               None    center   POINT (-3.70761 40.4523)
1      None               None    center  POINT (-3.63979 40.37163)
2  Q5017237  es:Café Comercial      None  POINT (-3.70197 40.42871)
3      None               None      None   POINT (-3.7017 40.42703)
4      None               None      None  POINT (-3.71209 40.42577)

[5 rows x 239 columns]

,id,@id,access,addr:city,addr:country,addr:district,addr:housename,addr:housenumber,addr:place,addr:postcode,...,was:name,website,website:menu,wheelchair,wheelchair:description,wheelchair:description:es,wifi,wikidata,wikipedia,@geometry
0,relation/12308736,relation/12308736,None,Madrid,None,None,None,57,None,None,...,None,None,None,None,None,None,None,None,None,center
1,relation/15931821,relation/15931821,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,center
2,node/26065697,node/26065697,None,Madrid,None,None,None,7,None,28004,...,None,http://cafecomercialmadrid.com/,None,None,None,None,None,Q5017237,es:Café Comercial,None
3,node/26065699,node/26065699,None,Madrid,None,None,None,95,None,28004,...,None,https://honestgreens.com/,None,no,"Escalón alto, puerta que abre hacia fuera.",None,None,None,None,None
4,node/26808568,node/26808568,None,Madrid,None,None,None,2,None,28015,...,None,None,None,limited,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4655,node/12935258692,node/12935258692,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4656,node/12951295004,node/12951295004,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4657,node/12956493502,node/12956493502,None,None,None,None,None,52,None,None,...,None,None,None,None,None,None,None,None,None,None
4658,node/12964666151,node/12964666151,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4659,node/12966226571,node/12966226571,None,Madrid,None,None,None,43,None,28025,...,None,None,None,None,None,None,None,None,None,None

In [2]:
# Umbral: 90% de valores nulos
umbral = 0.9

# Calcular porcentaje de nulos por columna
porcentaje_nulos = df.isnull().mean()

# Filtrar columnas que tienen menos o igual al 30% de nulos
columnas_buenas = porcentaje_nulos[porcentaje_nulos <= umbral].index

# Crear nuevo DataFrame con solo las columnas buenas
df_cleaned = df[columnas_buenas]
df_cleaned2 = df_cleaned.drop(["id", "@id", "addr:city", "amenity", "check_date", "phone", "website", "wheelchair", "opening_hours"], axis=1)
df_cleaned2

,addr:housenumber,addr:postcode,addr:street,cuisine,name
0,57,None,Calle de Santa Juliana,None,Naveira do Mar
1,None,None,None,None,La parrilla del sur
2,7,28004,Glorieta de Bilbao,None,Café Comercial
3,95,28004,Calle de Fuencarral,organic,Honest Greens
4,2,28015,Plaza de Cristino Martos,None,La Parrilla de Nino
...,...,...,...,...,...
4655,None,None,None,asian,Asian house
4656,None,None,None,coffee_shop;spanish,Sazón Lempira
4657,52,None,Paseo de Juan Antonio Vallejo-Nájera Botas,None,Arrocería Imperial
4658,None,None,None,None,O'Grove
4659,43,28025,Paseo de Santa María de la Cabeza,japanese,Go Ramen

In [3]:
# Combinar calle y número si existen
df_cleaned2["addr:street"] = df_cleaned2["addr:street"].fillna("")  # Reemplaza None por cadena vacía
df_cleaned2["addr:housenumber"] = df_cleaned2["addr:housenumber"].fillna("")

# Unir con coma si hay número
df_cleaned2["addr:street"] = df_cleaned2.apply(
    lambda row: f"{row['addr:street']}, {row['addr:housenumber']}".strip(", ") 
    if row["addr:housenumber"] else row["addr:street"],
    axis=1
)
df_cleaned2
df_cleaned3 = df_cleaned2.drop("addr:housenumber", axis=1)
df_cleaned3

,addr:postcode,addr:street,cuisine,name
0,None,"Calle de Santa Juliana, 57",None,Naveira do Mar
1,None,,None,La parrilla del sur
2,28004,"Glorieta de Bilbao, 7",None,Café Comercial
3,28004,"Calle de Fuencarral, 95",organic,Honest Greens
4,28015,"Plaza de Cristino Martos, 2",None,La Parrilla de Nino
...,...,...,...,...
4655,None,,asian,Asian house
4656,None,,coffee_shop;spanish,Sazón Lempira
4657,None,"Paseo de Juan Antonio Vallejo-Nájera Botas, 52",None,Arrocería Imperial
4658,None,,None,O'Grove
4659,28025,"Paseo de Santa María de la Cabeza, 43",japanese,Go Ramen

In [4]:

df_cleaned3 = df_cleaned3.rename(columns={"addr:street":"Direccion",
                                          "addr:postcode":"CP",
                                          "cuisine":"Tipo",
                                          "name":"Restaurante"
})
nuevo_orden = ["Restaurante", "Tipo", "Direccion", "CP"]
df_cleaned4 = df_cleaned3[nuevo_orden]
df_cleaned4

,Restaurante,Tipo,Direccion,CP
0,Naveira do Mar,None,"Calle de Santa Juliana, 57",None
1,La parrilla del sur,None,,None
2,Café Comercial,None,"Glorieta de Bilbao, 7",28004
3,Honest Greens,organic,"Calle de Fuencarral, 95",28004
4,La Parrilla de Nino,None,"Plaza de Cristino Martos, 2",28015
...,...,...,...,...
4655,Asian house,asian,,None
4656,Sazón Lempira,coffee_shop;spanish,,None
4657,Arrocería Imperial,None,"Paseo de Juan Antonio Vallejo-Nájera Botas, 52",None
4658,O'Grove,None,,None
4659,Go Ramen,japanese,"Paseo de Santa María de la Cabeza, 43",28025

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3322574381.py, line 1)